*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(graduateback2.jpg);
    background-size: cover;
    background-position: center;

}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 110px;
    height: auto;
    cursor: pointer;
    margin-bottom: 20px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.navbar h1 {
    font-size: 3em;
    margin-top: 0.5em;
    text-align: center;
    color: #FFFFFF;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}
.inputbox{
    position: relative;
    margin: 50px 20px 20px 30px;
    width: 310px;
    border-bottom: 2px solid #FFFFFF;
}
.inputbox label{
    position: absolute;
    top: -10%;
    left: 5px;
    transform: translateY(-50%);
    color: #FFFFFF;
    font-size: 1em;
    pointer-events: none;

}



.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0 35px 0 5px;
    color: #FFFFFF;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #FFFFFF;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #FFFFFF;
    display: flex;
    margin: 5%;
}
.forget label input{
    margin-right: 4px;
}
.forget label a{
    color: #FFFFFF;
    
    margin-left: 30px;
}
.button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    
}
.btn.btn{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    /*border: none;*/
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.btn.btn:hover{
    background-color: #FFFFFF;
    border-color: #bbb;
   
}
.registration{
    
    margin: 5%;
}
.registration a{
    color: #FFFFFF;
    margin: 100px;
    
}
/*Creer compte*/
.container{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}
.input-box{
    position: relative;
    margin: 30px 20px 20px 30px;
    width: 310px;
    border-bottom: 2px solid #FFFFFF;
}
.input-box span{ 
    color: #FFFFFF;
    font-size: 1em;
}
.input-box input{
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0 35px 0 5px;
    color: #FFFFFF;
}
.input-box ion-icon {
    position: absolute;
    right: 8px;
    color: #FFFFFF;
    font-size: 1.2em;
    top: 5px;
}
